{% load kingadmin_tags %}

<form class="form-horizontal" method="post" onsubmit="VerificationBeforeFormSubmit()" novalidate>{% csrf_token %}
    {% for field in form_obj %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {% if field.name in admin_class.filter_horizontal %}
                    <div class="col-lg-5">
                        <input type="search" class="form-control" oninput="Fuzzysearch(this)">
                        <select id="id_{{ field.name }}_from" multiple class="form-control">
                            {% get_available_m2m_data field.name form_obj admin_class as available_m2m_data %}
                            {% for obj in available_m2m_data %}
                                <option ondblclick="MoveSelectedOption(this, 'id_{{ field.name }}_to')" value="{{ obj.id }}">
                                    {{ obj }}
                                </option>
                            {% endfor %}
                        </select>
                        <p><a onclick="MoveAllElements('id_{{ field.name }}_from','id_{{ field.name }}_to')">Chooseall</a></p>
                    </div>
                    <div class="col-lg-5">
                        <select tag='selected_m2m' id="id_{{ field.name }}_to" multiple class="form-control" name="{{ field.name }}">
                            {% get_selected_m2m_data field.name form_obj admin_class as selected_m2m_data %}
                            {% for obj in selected_m2m_data %}
                                <option value="{{ obj.id }}" ondblclick="MoveSelectedOption(this, 'id_{{ field.name }}_from')">
                                    {{ obj }}
                                </option>
                            {% endfor %}
                        </select>
                        <p><a onclick="MoveAllElements('id_{{ field.name }}_to','id_{{ field.name }}_from')">Removeall</a></p>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
                <span style="color: red">{{ field.errors.0 }}</span>
            </div>
        </div>
    {% endfor %}
    {% if not admin_class.form_add %}
{#        如果是修改页面，admin_class.form_add=false，显示此部分内容,只读行区域只能显示在最下方，不能修改#}
        {% for field in admin_class.readonly_fields %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ field }}</label>
                <div class="col-sm-10">
                    {% get_obj_field_value form_obj field %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            {% if form_obj.instance.id %}
            判断是在修改页面调用还是添加页面调用，以便返回不同的结果
            <a href="{% url 'table_obj_delete' app_name model_name form_obj.instance.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            <button type="submit" class=" btn btn-info">Save</button>
        </div>
    </div>
</form>

<script>
    function MoveSelectedOption(ele, target_id) {
        var new_target_id = $(ele).parent().attr('id');
        var option = "<option value='" + $(ele).val() + "'ondblclick=MoveSelectedOption(this,'" + new_target_id +"')>" + $(ele).text() +"</option>";
        $("#" + target_id).append(option);
        $(ele).remove();
    }

    function VerificationBeforeFormSubmit() {
        $("select[tag] option").prop('selected',true);
    }

    function MoveAllElements(from_id, to_id) {
        $('#'+from_id).children().each(function(){
            MoveSelectedOption(this, to_id)
        })
    }
    function Fuzzysearch(ele) {
        {#console.log($(ele).val())#}
        var search_text = $(ele).val().toUpperCase();
        $(ele).next().children().each(function () {
            if ($(this).text().toUpperCase().search(search_text) != -1){
                $(this).show();
            }
            else{
                $(this).hide();
            }
        })
    }
</script>